<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.kareluo.imaging2">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>

        <activity
            android:name="me.kareluo.imaging2.IMGEditActivity"
            android:theme="@style/ImgEditTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

    </application>

</manifest>
