<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jimmy.androidcommonframework">
    <!--android:enabled="true" 设置application能否被android系统实例化，true能实例化，
    false不能实例化并且内部组件都不能被实例化，默认值为：true-->x
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".application.AndroidApplication">
        <!--每创建一个Activity都要在文件内声明一下-->
        <activity android:name=".activity.StartPageActivity"
            android:theme="@style/AppColdThemeTwo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <!-- android:enabled="true" 设置service能否被android系统实例化，true能实例化，false不能实例化，默认值为：true，<application>也有这个字段-->
        <!-- android:exported="true" 指示其他应用程序的组件是否可以调用service或者和service交互-->
        <service
            android:name=".service.StudyService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>